@{
    List<TbTourType> tourType = ViewBag.tourType;
    List<TbTour> tourNew = ViewBag.tourNew;
}
    <!-- banner starts -->
<section class="banner pt-10 pb-0 overflow-hidden" style="background-image:url('@Url.Content("~/assets/images/testimonial.png")');">
    <div class="container">
        <div class="banner-in">
            <div class="row align-items-center">
                <div class="col-lg-6 mb-4">
                    <div class="banner-content text-lg-start text-center">
                        <h4 class="theme mb-0">Khám phá Việt Nam</h4>
                        <h1>Bắt đầu lên kế hoạch cho chuyến đi mơ ước của bạn ngay hôm nay!</h1>
                        <p class="mb-4">
                            Việt Nam là điểm đến hấp dẫn với thiên nhiên hùng vĩ, bãi biển tuyệt đẹp, ẩm thực độc đáo, văn hóa đa dạng và con người thân thiện.
                        </p>
                        <div class="book-form">
                            <div class="row d-flex align-items-center justify-content-between">
                                <div class="col-lg-6 mb-2">
                                    <div class="form-group">
                                        <div class="input-box">
                                            <select class="niceSelect">
                                                <option value="1">Điểm đến</option>
                                                <option value="2">Argentina</option>
                                                <option value="3">Belgium</option>
                                                <option value="4">Canada</option>
                                                <option value="5">Denmark</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-2">
                                    <div class="form-group">
                                        <div class="input-box">
                                            <input type="date" name="date">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-2">
                                    <div class="form-group">
                                        <div class="input-box">
                                            <select class="niceSelect">
                                                <option value="1">Loại du lịch</option>
                                                <option value="2">City Tour</option>
                                                <option value="3">Family Tour</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-2">
                                    <div class="form-group">
                                        <div class="input-box">
                                            <select class="niceSelect">
                                                <option value="1">Thời gian tham quan</option>
                                                <option value="2">5 days</option>
                                                <option value="3">7 Days</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group mb-0 text-center">
                                        <a href="#" class="nir-btn w-100">
                                            <i class="fa fa-search mr-2"></i> Search
                                            Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="banner-image">
                        <img src="~/assets/images/travel.png" alt="">
                    </div>
                </div>
            </div>
            <div class="category-main-inner border-t pt-1">
                <div class="row side-slider">
                    @foreach (var item in tourType.Where(i => (bool)i.IsActive))
                    {
                    <div class="col-lg-3 col-md-6 my-4">
                        <div class="category-item box-shadow p-3 py-4 text-center bg-white rounded overflow-hidden">
                            <div class="trending-topic-content">
                                <img src="@item.Icon" class="mb-1 d-inline-block" alt="">
                                <h4 class="mb-0"><a href="tour-grid.html">@item.TypeName</a></h4>
                            </div>
                        </div>
                    </div>
                    }
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-us starts -->
<section class="about-us pb-6 pt-6" style="background-image:url(~/assets/images/shape4.png); background-position:center;">
    <div class="container">

        <div class="section-title mb-6 w-50 mx-auto text-center">
            <h4 class="mb-1 theme1">3 Step of The Perfect Tour</h4>
            <h2 class="mb-1">Find <span class="theme">Travel Perfection</span></h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            </p>
        </div>

        <!-- why us starts -->
        <div class="why-us">
            <div class="why-us-box">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                        <div class="why-us-item text-center p-4 py-5 border rounded bg-white">
                            <div class="why-us-content">
                                <div class="why-us-icon">
                                    <i class="icon-flag theme"></i>
                                </div>
                                <h4><a href="about.html">Tell Us What You want To Do</a></h4>
                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                        <div class="why-us-item text-center p-4 py-5 border rounded bg-white">
                            <div class="why-us-content">
                                <div class="why-us-icon">
                                    <i class="icon-location-pin theme"></i>
                                </div>
                                <h4><a href="about.html">Share Your Travel Locations</a></h4>
                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                        <div class="why-us-item text-center p-4 py-5 border rounded bg-white">
                            <div class="why-us-content">
                                <div class="why-us-icon">
                                    <i class="icon-directions theme"></i>
                                </div>
                                <h4><a href="about.html">Share Your Travel Preference</a></h4>
                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                        <div class="why-us-item text-center p-4 py-5 border rounded bg-white">
                            <div class="why-us-content">
                                <div class="why-us-icon">
                                    <i class="icon-compass theme"></i>
                                </div>
                                <h4><a href="about.html">We are 100% Trusted Tour Agency</a></h4>
                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- why us ends -->
    </div>
    <div class="white-overlay"></div>
</section>
<!-- about-us ends -->
<!-- top Destination starts -->
<section class="trending pb-5 pt-0">
    <div class="container">
        <div class="section-title mb-6 w-50 mx-auto text-center">
            <h4 class="mb-1 theme1">Top Destinations</h4>
            <h2 class="mb-1">Explore <span class="theme">Top Destinations</span></h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            </p>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 mb-4">
                <div class="trend-item1">
                    <div class="trend-image position-relative rounded">
                        <img src="~/assets/images/destination/destination1.jpg" alt="image">
                        <div class="trend-content d-flex align-items-center justify-content-between position-absolute bottom-0 p-4 w-100 z-index">
                            <div class="trend-content-title">
                                <h5 class="mb-0"><a href="tour-grid.html" class="theme1">England</a></h5>
                                <h3 class="mb-0 white">London</h3>
                            </div>
                            <span class="white bg-theme p-1 px-2 rounded">15 Tours</span>
                        </div>
                        <div class="color-overlay"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                        <div class="trend-item1">
                            <div class="trend-image position-relative rounded">
                                <img src="~/assets/images/destination/destination17.jpg" alt="image">
                                <div class="trend-content d-flex align-items-center justify-content-between position-absolute bottom-0 p-4 w-100 z-index">
                                    <div class="trend-content-title">
                                        <h5 class="mb-0">
                                            <a href="tour-grid.html" class="theme1">Italy</a>
                                        </h5>
                                        <h3 class="mb-0 white">Caspian Valley</h3>
                                    </div>
                                    <span class="white bg-theme p-1 px-2 rounded">18 Tours</span>
                                </div>
                                <div class="color-overlay"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                        <div class="trend-item1">
                            <div class="trend-image position-relative rounded">
                                <img src="~/assets/images/destination/destination14.jpg" alt="image">
                                <div class="trend-content d-flex align-items-center justify-content-between position-absolute bottom-0 p-4 w-100 z-index">
                                    <div class="trend-content-title">
                                        <h5 class="mb-0">
                                            <a href="tour-grid.html" class="theme1">Tokyo</a>
                                        </h5>
                                        <h3 class="mb-0 white">Japan</h3>
                                    </div>
                                    <span class="white bg-theme p-1 px-2 rounded">21 Tours</span>
                                </div>
                                <div class="color-overlay"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                        <div class="trend-item1">
                            <div class="trend-image position-relative rounded">
                                <img src="~/assets/images/destination/destination15.jpg" alt="image">
                                <div class="trend-content d-flex align-items-center justify-content-between position-absolute bottom-0 p-4 w-100">
                                    <div class="trend-content-title">
                                        <h5 class="mb-0">
                                            <a href="tour-grid.html" class="theme1">Moscow</a>
                                        </h5>
                                        <h3 class="mb-0 white">Russia</h3>
                                    </div>
                                    <span class="white bg-theme p-1 px-2 rounded">15 Tours</span>
                                </div>
                                <div class="color-overlay"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                        <div class="trend-item1">
                            <div class="trend-image position-relative rounded">
                                <img src="~/assets/images/destination/destination16.jpg" alt="image">
                                <div class="trend-content d-flex align-items-center justify-content-between position-absolute bottom-0 p-4 w-100 z-index">
                                    <div class="trend-content-title">
                                        <h5 class="mb-0">
                                            <a href="tour-grid.html" class="theme1">Florida</a>
                                        </h5>
                                        <h3 class="mb-0 white">America</h3>
                                    </div>
                                    <span class="white bg-theme p-1 px-2 rounded">32 Tours</span>
                                </div>
                                <div class="color-overlay"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- top Destination ends -->
<!-- about-us starts -->
<section class="about-us pt-0" style="background-image:url(~/assets/images/bg/bg-trans.png);">
    <div class="container">
        <div class="about-image-box">
            <div class="row d-flex align-items-center justify-content-between">
                <div class="col-lg-6 mb-4 pe-4">
                    <div class="about-image overflow-hidden">
                        <img src="~/assets/images/travel1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 mb-4 ps-4">
                    <div class="about-content text-center text-lg-start mb-4">
                        <h4 class="theme d-inline-block mb-0">Get To Know Us</h4>
                        <h2 class="border-b mb-2 pb-1">Explore All Tour of the world with us.</h2>
                        <p class="border-b mb-2 pb-2">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.<br><br>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                            officia deserunt mollit anim id est laborum.
                        </p>
                        <div class="about-listing">
                            <ul class="d-flex justify-content-between">
                                <li><i class="icon-location-pin theme"></i> Tour Guide</li>
                                <li><i class="icon-briefcase theme"></i> Friendly Price</li>
                                <li><i class="icon-folder theme"></i> Reliable Tour Package</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <!-- Counter -->
                    <div class="counter-main w-75 float-end">
                        <div class="counter p-4 pb-0 box-shadow bg-white rounded">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                                    <div class="counter-item border-end pe-4">
                                        <div class="counter-content">
                                            <h2 class="value mb-0 theme">20</h2>
                                            <span class="m-0">Years Experiences</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                                    <div class="counter-item border-end pe-4">
                                        <div class="counter-content">
                                            <h2 class="value mb-0 theme">530</h2>
                                            <span class="m-0">Tour Packages</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                                    <div class="counter-item border-end pe-4">
                                        <div class="counter-content">
                                            <h2 class="value mb-0 theme">850</h2>
                                            <span class="m-0">Happy Customers</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                                    <div class="counter-item">
                                        <div class="counter-content">
                                            <h2 class="value mb-0 theme">320</h2>
                                            <span class="m-0">Award Winning</span>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- End Counter -->
                </div>
            </div>
        </div>
    </div>
    <div class="white-overlay"></div>
</section>
<!-- about-us ends -->
<!-- best tour Starts -->
<section class="trending pb-0">
    <div class="container">
        <div class="row align-items-center justify-content-between mb-6 ">
            <div class="col-lg-7">
                <div class="section-title text-center text-lg-start">
                    <h4 class="mb-1 theme1">Top Pick</h4>
                    <h2 class="mb-1">Best <span class="theme">Tour Packages</span></h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore.
                    </p>
                </div>
            </div>
            <div class="col-lg-5">
            </div>
        </div>
        <div class="trend-box">
            <div class="row item-slider">
                 @foreach (var item in tourNew.Take(6))
                        {
                <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
                   
                    <div class="trend-item rounded box-shadow">
                        <div class="trend-image position-relative">
                            <img src="@item.Image" alt="image" class="">
                            <div class="color-overlay"></div>
                        </div>
                        <div class="trend-content p-4 pt-5 position-relative">
                            <div class="trend-meta bg-theme white px-3 py-2 rounded">
                                <div class="entry-author">
                                    <i class="icon-calendar"></i>
                                    <span class="fw-bold"> @item.TourDuration</span>
                                </div>
                            </div>
                            <h5 class="theme mb-1"><i class="flaticon-location-pin"></i> @item.Country</h5>
                            <h3 class="mb-1"><a href="tour-grid.html">@item.Destination</a></h3>
                            <div class="rating-main d-flex align-items-center pb-2">
                                <div class="rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                                <span class="ms-2">(@item.Assess)</span>
                            </div>
                            <p class=" border-b pb-2 mb-2">
                                @item.Description
                            </p>
                            <div class="entry-meta">
                                <div class="entry-author d-flex align-items-center">
                                    <p class="mb-0">
                                        <span class="theme fw-bold fs-5"> $@item.Price</span> | 1 người
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- best tour Ends -->
<!-- Last Minute Deal Starts -->

<!-- Last Minute Deal Ends -->
<!-- Discount action starts -->
<section class="discount-action pt-6"
         style="background-image:url(~/assets/images/section-bg1.png); background-position:center;">
    <div class="section-shape section-shape1 top-inherit bottom-0"
         style="background-image: url(~/assets/images/shape8.png);"></div>
    <div class="container">
        <div class="call-banner rounded pt-10 pb-14">
            <div class="call-banner-inner w-75 mx-auto text-center px-5">
                <div class="trend-content-main">
                    <div class="trend-content mb-5 pb-2 px-5">
                        <h5 class="mb-1 theme">Love Where Your're Going</h5>
                        <h2>
                            <a href="detail-fullwidth.html">
                                Explore Your Life, <span class="theme1">
                                    Travel Where
                                    You Want!
                                </span>
                            </a>
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.
                        </p>
                    </div>
                    <div class="video-button text-center position-relative">
                        <div class="call-button text-center">
                            <button type="button" class="play-btn js-video-button" data-video-id="152879427"
                                    data-channel="vimeo">
                                <i class="fa fa-play bg-blue"></i>
                            </button>
                        </div>
                        <div class="video-figure"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="white-overlay"></div>
</section>
<!-- Discount action Ends -->
<!-- offer Packages Starts -->
<section class="trending pb-0 pt-4">
    <div class="container">
        <div class="section-title mb-6 w-75 mx-auto text-center">
            <h4 class="mb-1 theme1">Top Offers</h4>
            <h2 class="mb-1">Special <span class="theme">Offers & Discount </span> Packages</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            </p>
        </div>
        <div class="trend-box">
            <div class="row">
            @await Component.InvokeAsync("Tour")
            </div>
        </div>
    </div>
</section>
<!-- offer Packages Ends -->
<!-- our teams starts -->
<section class="our-team pb-6">
    <div class="container">

        <div class="section-title mb-6 w-75 mx-auto text-center">
            <h4 class="mb-1 theme1">Tour Guides</h4>
            <h2 class="mb-1">Meet Our <span class="theme">Excellent Guides</span></h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            </p>
        </div>
        <div class="team-main">
            <div class="row shop-slider">
                @await Component.InvokeAsync("Guide") 
            </div>
        </div>
    </div>
</section>
<!-- our teams Ends -->
<!-- testomonial start -->
<section class="testimonial pt-9" style="background-image:url(~/assets/images/testimonial.png)">
    <div class="container">
        <div class="section-title mb-6 text-center w-75 mx-auto">
            <h4 class="mb-1 theme1">Our Testimonails</h4>
            <h2 class="mb-1">Good Reviews By <span class="theme">Clients</span></h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            </p>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 pe-4">
                <div class="testimonial-image">
                    <img src="~/assets/images/travel2.png" alt="">
                </div>
            </div>
            <div class="col-lg-7 ps-4">
                <div class="row review-slider">
                    @await Component.InvokeAsync("Review")
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial ends -->
<!-- partner starts -->
@*<div class="our-partner p-0">
    <div class="container">
        <div class="partners_inner">
            <ul>
                <li><img src="~/assets/images/cl-5.png" alt=""></li>
                <li><img src="~/assets/images/cl-2.png" alt=""></li>
                <li><img src="~/assets/images/cl-3.png" alt=""></li>
                <li><img src="~/assets/images/cl-4.png" alt=""></li>
                <li><img src="~/assets/images/cl-5.png" alt=""></li>
                <li><img src="~/assets/images/cl-3.png" alt=""></li>
                <li><img src="~/assets/images/cl-2.png" alt=""></li>
                <li><img src="~/assets/images/cl-1.png" alt=""></li>
            </ul>
        </div>
    </div>
</div>*@
<!-- partner ends -->
<!-- recent-articles starts -->
<section class="trending recent-articles pb-6">
    <div class="container">
        <div class="section-title mb-6 w-75 mx-auto text-center">
            <h4 class="mb-1 theme1">Our Blogs Offers</h4>
            <h2 class="mb-1">Recent <span class="theme">Articles & Posts</span></h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            </p>
        </div>
        <div class="recent-articles-inner">
            <div class="row">
                @await Component.InvokeAsync("Blog")
            </div>
        </div>
    </div>
</section>
<!-- recent-articles ends -->
